<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recomendação Produtos Potenza</title>
        <link rel="stylesheet" href="../static/css/reset.css"> 
        <link rel="stylesheet" href="../static/css/bootstrap-potenza.css">
        <link rel="stylesheet" href="../static/css/style-potenza.css">
    </head> 

{% block conteudo %}

<p>Cliente:</p>
    
<div class="tabela1">
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                {% for coluna in colunas %}
                    <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>  
        <tbody> 
            <tr>
                {% for j in range(dados_filtrado.shape[1]) %}  
                    <td>{{ dados_filtrado[0:1].values[0][j] }}</td> 
                {% endfor %}
            </tr> 
        </tbody> 
    </table> 
</div>
    
<p>Carteira:</p>
    
<div class="tabela2">
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                {% for coluna in colunas2 %}
                    <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>  
        <tbody> 
            <tr>
            {% for i in range(dados_filtrado2.shape[0]) %}
                <tr>
                    {% for j in range(dados_filtrado2.shape[1]) %}
                        <td>{{ dados_filtrado2[i:i+1].values[0][j] }}</td>  
                    {% endfor %}
                </tr>
            {% endfor %} 
            </tr>
        </tbody> 
    </table> 
</div>

<p>Balanceamento de carteira segundo a Fronteira Eficiente de Markowitz:</p>    
<div class="tabela3">
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                {% for coluna in colunas3 %}
                    <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>  
        <tbody> 
            <tr>
            {% for n in range(carteira_maior_sharpe.shape[1]) %}
                <td>{{ carteira_maior_sharpe[0:1].values[0][n] }}</td>
            {% endfor %} 
            </tr> 
        </tbody> 
    </table> 
</div>
    
<p>Recomendações:</p>

<div class="tabela4">
    <table class="table table-striped table-responsive table-bordered font-size:smaller">
        <tbody> 
            {% for i in range(tamanho_recomendacao) %} 
            <tr> 
                <td>{{ recomendacoes[i] }}</td> 
            </tr> 
            {% endfor %} 
        </tbody> 
    </table> 
</div>

{% endblock %}
<a class = "btn btn-danger" href="{{ url_for('home') }}">Voltar</a> 