<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forecast Vendas CCM</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
    </head>
    <body>
        <!-- <img src="../static/img/capa.jpg">  -->
        <!-- <img src="../static/img/capa2.png"> -->
        <iframe width="1350" height="650" src="https://app.powerbi.com/reportEmbed?reportId=09bf901e-69f9-4260-9dde-2a0fe5216a79&autoAuth=true&ctid=2ed2c9d9-8d6d-42bc-b718-d8dbd3084e9e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </body>
</html>

